@media screen and (max-width: 1040px) {
html {
  margin: auto;
}

.boite{
    display: flex;
  }

  .boite {
    flex-wrap: wrap;
  }

  .colonne--menu {
    width: 100%;
    margin: auto;
  }

  .colonne1 {
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }

  .colonne2{
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }

  .colonne--projets{
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }

  .colonne--projets2{
    width: 100%;
    margin: auto;
    margin-top: 0em;
  }

  div .Projets--menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

  section .Projet-menu {
    position: relative;
    height: auto;
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 2em;
  }

  .menu {
    position: static;
    align-content: center;
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }


  nav{
    align-items: center;
  }

  .SiteTitle{
    font-size: 2.5em;
  }

  .menu {
    font-size: 2em;
  }

  .Texte {
    font-size: 2.5em;
  }

  .Legend {
    font-size: 2em;
  }

  .Accent {
    font-size: 2em;
  }
}
