@import url('./reset.css');

html*{box-sizing: border-box;}

/*Valable pour la page en entier*/
html{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  font-style: normal;
  background-color: white;
  margin: 4em;
  padding: 4em;
}

a{
  color: rgb(0, 0, 0);
  text-decoration: none ;
  margin-bottom: 1.5em;
}

/******Mise en page = 3 colonnes *****/
.boite{
  display: flex;
}

.colonne figure, .colonne p{
  width: 100%;
  max-width: 100%;
}

.colonne--menu{
  width: 20%;
  padding-top: 1.5em;
    }

.colonne1{
  width: 38%;
  padding-left: 2%;
  }

.colonne2{
  width: 38%;
  padding-left: 2%;
}

.colonne--projets{
  width: 78%;
  padding-left: 2%;
}
/*-----------------------------------------------*/
/*Le titre du site*/
.SiteTitle {
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-top: 1.5em;
}

header {
  position:;
  border-bottom: 0.8px;
  width: 150px;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  padding-bottom: 2.5em;
}

.menu {
  position: fixed;
}

/*navigation=menu*/
.menu {
  font-weight: lighter;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  }

a:hover {
  text-decoration: underline;
  color: rgb(184, 44, 132);
}

nav {
  border-bottom: 0.8px;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  width: 150px;
  }

/*Pied de page*/
footer{
  font-size: .5em;
  font-style: italic;
  text-align: center;
  margin-top: 8em;
}

/*images*/
img{
  max-width: 100%;
  height: auto;
  }

  /*images articles*/
  .photos-article {
    padding-bottom: .5em;
  }

/*-------------------------------------------------*/
/*typographies*/
.Titre--Page {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.Texte {
  font-family: 'Open Sans',sans-serif;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 150%;
}

.Legend {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Accent {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

/*------------------------------------------------------*/
/*Menu des projets*/
div .Projets--menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section .Projet-menu {
  width: 220px;
  height: 200px;
  margin-right: 3em;
  margin-bottom: 3em;
}
